@import "../../settings.styles.scss";

.workout--section {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 0.5fr 1fr;

  background-color: $MainColor;
  border-radius: 2%;
  margin: 2rem;
  padding: 1rem;
  overflow: hidden;
}

.exercise--search__section {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.exercise--search__section input {
  width: 100%;
  border: none;
  font-size: 3rem;
  padding-left: 0.1rem;

  &:focus {
    outline: none;
  }
}

.exercise--cards {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  padding-right: 1rem;
  gap: 1rem;
  height: 100%;
}

::-webkit-scrollbar {
  height: 100%;
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(131, 131, 131);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $AdjacentColor;
}

.user--exercises {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-right: 1rem;
  overflow: scroll;
  overflow-x: hidden;
  gap: 1rem;

  .user--exercises__placeholder {
    font-size: 5rem;
    color: $SecondaryColor;
    text-align: center;
    margin: auto;
  }

  &::-webkit-scrollbar-track {
    margin-top: 0;
  }
}
