.directory {
  display: flex;
  justify-items: space-between;
  align-items: center;
  text-align: center;

  width: 100%;
}

@media only screen and (max-width: 972px) {
  .directory {
    flex-direction: column;
  }
}
