@import '../../settings.styles.scss';

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
}

.logo {
  font-size: 3rem;
  color: $AdjacentColor;
}

.nav--bar {
  font-size: 2.5rem;
  display: flex;
  gap: 1rem;

  > * {
    background-color: $SecondaryColor;
    border-radius: 0.1em;
    padding: 0.1em 0.2em;
    @include hover-and-click($MainColor, $AdjacentColor, $SecondaryColor);
  }
}

@media only screen and (max-width: 972px) {
  .header {
    max-width: 95%;
  }

  .logo {
    font-size: 2rem;
  }

  .nav--bar {
    font-size: 1.8rem;
  }
}
