@import "../../settings.styles.scss";

.submit-form {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  background-color: $MainColor;
  border-radius: 1.5rem;
  border: 0.2rem solid $SecondaryColor;
  width: 30%;
  height: 30%;
  transition: all 0.5s;
  z-index: 100;
}

.form-element {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 2rem;
}

.input {
  font-family: "Oswald", sans-serif;
  height: 3rem;
  font-size: 2rem;
  border: none;
  width: 85%;
}

.input:focus {
  outline: none;
}

.form--label {
  color: $SecondaryColor;
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

label {
  font-size: 2.5rem;
}

.submit-btn {
  font-family: "Oswald", sans-serif;
  height: 3rem;
  width: 30%;
  cursor: pointer;
  text-align: center;
  line-height: 3rem;
  font-size: 1.7rem;
  background: $SecondaryColor;
  border: none;
  margin-top: 1rem;
}

.submit-btn:hover {
  background: $SecondaryColor;
}
