@import "./settings.styles.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: $MainColor;
}

a {
  text-decoration: none;
}

a:visited {
  all: unset;
}

.App {
  width: 99.9vw;
  height: 99.9vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.text--selection__none {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media only screen and (max-width: 1080px) {
  html {
    font-size: 45%;
  }
  .header {
    width: 100%;
  }
}
@media only screen and (max-width: 825px) {
  html {
    font-size: 1vw;
  }
  .App {
    height: 93vh;
  }
}
