$MainColor: #2d3436;
$SecondaryColor: #eeeeee;
$AdjacentColor: #74b9ff;
$SecondAdjacentColor: #ff7675;

@mixin hover-and-click($MColor, $SColor, $AColor) {
  &:hover {
    color: $MColor;
    background-color: $SColor;
    border-color: $SColor;
    cursor: pointer;
  }

  &:active {
    background-color: $AColor;
    border-color: $AColor;
  }
}
